<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container border rounded m-4 p-4">
  <div class="field  ">
    <%= form.label :title %>
    <%= form.text_field :title ,class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body ,class: "form-control"%>
  </div>

  <div class="actions ">
    <%if @post.id.present? %>
      <%= form.submit "Edit Post" , class: "btn btn-success" %>
    <%else %>
      <%= form.submit "New Post" , class: "btn btn-success" %>

    <% end %>
  </div>

</div>

<% end %>
